@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.ttf');
}

* {
  font-family: 'Inter', sans-serif !important;
}


@media screen and (max-width:765px) {
  
.most-product__card::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 5%;
  width: 90%;
  height: 2px;
  background:#EFEFEF;
}
}