@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.ttf');
}

* {
  font-family: 'Inter', sans-serif !important;
}


.service__card {
  background: linear-gradient(90.45deg, rgba(212, 212, 216, 0.6) 0.39%, rgba(244, 244, 245, 0.6) 69.12%);
  background-repeat: no-repeat;
  background-size: cover;
}



@media screen and (max-width:765px) {
  
.most-product__card::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 5%;
  width: 90%;
  height: 2px;
  background:#EFEFEF;
}
}